*{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
body{
    background: #eeeeee;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #444;
}
a:hover{
    text-decoration: none;
    color: #444;
}