
.banner{
    display: block;
}
.banner img{
    height: 100%;
    width: 100%;
    overflow: inherit;
}

.tools{
    background: #fefefe;
    margin-top: 30px;
}
.tools .col{
    border: .2px solid #eeeeee;
    max-height: 100px;
}
.tools .title{
    background: #fefefe;
    height: 30px;
    color: darkgray;
    font-weight: bolder;
    font-size: 15px;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 0;
    border: 1px solid #eeeeee;
}
.tools .tool-content{
    display: block;
    padding: 10px;
    height: 100%;
    line-height: 100%;

}
.tools .tool-content img.tool-img{
    width: 50px;
    height: 50px;
}
.tools .tool-content i{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    color: cornflowerblue;
    margin: auto;
}

.tools .tool-content .tooltext{
        display: block;
        text-align: center;
        font-size: 13px;
        color: #222222;
        margin: 10px 0;
}
